{{ define "main" }}
<main>
    <div class="bg-gray-200">
        <div class="max-w-screen-lg px-4 py-8 mx-auto">
            <h1 class="mb-2 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl xl:text-6xl dark:text-white">
                {{ .Site.Params.Hero.heading }}
            </h1>
            <p class="mx-auto mb-6 text-left font-normal text-gray-900 lg:mx-0 xl:mb-2 md:text-lg xl:text-xl dark:text-gray-50">
                {{ .Site.Params.Hero.subheading }}
            </p>
        </div>
    </div>

    <!-- What we excel at -->
      <div class="max-w-screen-lg px-4 py-4 mx-auto mt-8">
        <h2 class="text-3xl text-center font-bold tracking-tight text-gray-900 dark:text-gray-50 sm:text-4xl lg:text-left">
            {{ .Site.Params.P1.Heading }}
        </h2>
        
        {{ range .Site.Params.P1.Content }}
        <div class="p-2">
          <figure class="md:flex max-w-screen-lg bg-primary-100 rounded-xl p-4 md:p-0 dark:bg-primary-800">
            {{ $p1image := resources.Get .image }}
            {{ with $p1image }}
            {{ with .Resize (printf "320x320 webp q90") }}
            <img imgh src="{{ .RelPermalink }}" width="320" height="320" class="w-32 h-32 md:w-64 md:h-auto md:rounded-md rounded-full mx-auto object-cover" alt="P1" />
            {{ end }}
            {{ end }}
            
            <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
              <h3 class="text-xl font-semibold text-gray-900"> {{ .title }} </h3>
              <p class="pb-4 text-md text-left dark:text-slate-100">
                {{ .text }}
              </p>
              <a class="underline" href="{{ .link }}">{{ .link_text }}</a>
            </div>
          </figure>
        </div>
        {{ end }}
    </div>

    <!-- How We Collaborate -->
    <div class="max-w-screen-lg px-4 py-4 mx-auto my-8 bg-primary-500 text-gray-100 rounded-md">
        <h2 class="p-2 text-3xl text-center font-bold tracking-tight text-gray-100 dark:text-gray-50 sm:text-4xl lg:text-left">
            {{ .Site.Params.P2.Heading }}
        </h2>
        <p class="mb-2 text-center md:text-left">
            {{ .Site.Params.P2.Subheading }}
        </p>
        
        {{ range .Site.Params.P2.Content }}
          <div class="p-2">
            <div class="flex items-center ">
              {{ $p2image := resources.Get .image }}
              {{ with $p2image }}
              <img imgh src="{{ .RelPermalink }}" width="8" height="8" class="p-1 w-8 h-8 bg-primary-200 rounded-xl" alt="P1" loading="lazy" />
              {{ end }} 
              <h3 class="ml-2 text-xl font-semibold text-gray-100"> {{ .title }} </h3>
            </div>
            <p class="pt-2 mb-4 text-md">
              {{ .text }}
            </p>
          </div>
        {{ end }}

        <p class="pt-6 pb-4 text-center">
          <span class="font-bold text-lg">{{ .Site.Params.P2.more.text }}</span>
          <a class="underline" href="{{ .Site.Params.P2.more.link }}">{{ .Site.Params.P2.more.link_text }}</a>
        </p>
  </div>    

    <!-- What We've Delivered -->
    <div class="max-w-screen-lg px-4 pt-4 pb-16 mx-auto">
        <h2 class="p-2 text-3xl text-center font-bold tracking-tight sm:text-4xl lg:text-left">
            {{ .Site.Params.P3.Heading }}
        </h2>
        <p class="mb-2 text-center md:text-left">
            {{ .Site.Params.P3.Subheading }}
        </p>
        
        {{ range .Site.Params.P3.Content }}
        <div class="p-2">
          <figure class="md:flex bg-primary-100 rounded-xl p-4 md:p-0 dark:bg-primary-800">
            {{ $p1image := resources.Get .image }}
            {{ with $p1image }}
            {{ with .Resize (printf "320x320 webp q90") }}
            <img imgh src="{{ .RelPermalink }}" width="320" height="320" class="w-32 h-32 md:w-64 md:h-auto md:rounded-md rounded-full mx-auto object-cover" alt="P1" loading="lazy" />
            {{ end }}
            {{ end }}
            
            <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
              <h3 class="text-xl font-semibold text-gray-900"> {{ .title }} </h3>
              <p class="text-md text-left dark:text-slate-100">
                {{ .text }}
              </p>

              {{ if .case_study }}
              <div class="w-fit mx-auto md:mx-2">
                {{ range .case_study }}
                  <a href="{{ .link }}" class="flex items-center bg-primary-500 text-gray-100 border border-primary-500 py-2 px-6 mt-2 rounded items-center">
                      <span>
                          {{ .link_text }}
                      </span>
                  </a>
                  {{ end }}
              </div>
              {{ end }}
            </div>
          </figure>
        </div>
        {{ end }}
   

    {{ if not .Site.Params.Disable_stay_uptodate}}
    <!-- CTA section -->
    <div class="relative pb-16 mt-6">
        <div class="max-w-md mx-auto px-7 sm:max-w-3xl lg:max-w-7xl">
            <div class="relative px-6 py-10 overflow-hidden shadow-xl bg-primary-500 rounded-2xl sm:px-12 sm:py-20">
                <div aria-hidden="true" class="absolute inset-0 -mt-72 sm:-mt-32 md:mt-0">
                    <svg class="absolute inset-0 w-full h-full" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 1463 360" loading="lazy">
                        <path class="text-primary-600 text-opacity-40" fill="currentColor" d="M-82.673 72l1761.849 472.086-134.327 501.315-1761.85-472.086z" />
                        <path class="text-primary-600 text-opacity-40" fill="currentColor" d="M-217.088 544.086L1544.761 72l134.327 501.316-1761.849 472.086z" />
                    </svg>
                </div>
                <div class="relative">
                    <div class="sm:text-center">
                        <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">
                            {{ .Site.Params.P5.Heading }}
                        </h2>
                        {{ range .Site.Params.P5.Content }}
                        <p class="max-w-2xl mx-auto mt-6 text-lg text-primary-100">
                            {{ .text }}
                        </p>
                        {{ end }}
                    </div>
                    <form action="{{ .Site.Params.P5.Action }}" class="mt-12 sm:mx-auto sm:flex sm:max-w-lg">
                        <div class="flex-1 min-w-0">
                            <label for="cta-email" class="sr-only">{{ .Site.Params.P5.Label }}</label>
                            <input id="cta-email" type="email" class="block w-full px-5 py-3 text-base text-gray-900 placeholder-gray-500 border border-transparent rounded-md shadow-sm focus:border-transparent focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-primary-500" placeholder="{{ .Site.Params.P5.Placeholder }}">
                        </div>
                        <div class="mt-4 sm:mt-0 sm:ml-3">
                            <button type="submit" class="block w-full px-5 py-3 text-base font-medium text-white bg-gray-900 border border-transparent rounded-md shadow hover:bg-black focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-primary-500 sm:px-10">
                                {{ .Site.Params.P5.Button }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{ end }}

</main>
{{ end }}
